Automation/WF-HEALTH.json
{
  "name": "Klipora — Health Monitor",
  "nodes": [
    {
      "id": "health-schedule",
      "name": "Every 1 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 1 }] }
      }
    },
    {
      "id": "health-fetch-format",
      "name": "Fetch queues and format status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "jsCode": "const base = 'https://wealthy-hyena-4511.upstash.io';\nconst token = 'ARGfAAImcDE5NTI1MGEzYzhjMjQ0ZWM1YTFkYjY0ZmIxOTBhNmQ4YnAxNDUxMQ';\nconst opts = { headers: { 'Authorization': 'Bearer ' + token } };\nlet s = 0, r = 0;\ntry {\n  const resScript = await fetch(base + '/llen/script_queue', opts);\n  const jScript = await resScript.json(); s = jScript.result ?? 0;\n} catch (e) { s = -1; }\ntry {\n  const resRender = await fetch(base + '/llen/render_queue', opts);\n  const jRender = await resRender.json(); r = jRender.result ?? 0;\n} catch (e) { r = -1; }\nconst backlogThreshold = 5;\nconst alertNeeded = s >= backlogThreshold || r >= backlogThreshold;\nconst status = alertNeeded ? 'DEGRADED' : 'OK';\nconst text = `KLIPORA SYSTEM STATUS: *${status}*\\n\\n*Workflow health*\\nGEN: OK\\nVIDEO: OK\\nASSEMBLE: OK\\n\\n*Queues*\\nscript_queue: ${s}\\nrender_queue: ${r}\\n\\nLast jobId: (see n8n Executions)\\n${alertNeeded ? '\\n⚠️ Queue backlog. Check workflows.' : ''}`;\nreturn [{ json: { script_len: s, render_len: r, alertNeeded, status, text } }];"
      }
    },
    {
      "id": "health-telegram",
      "name": "Send status to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [860, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8187477791:AAHnYiq_zz5JCEnQeruW5Xt92ehl8xr2lbQ/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "8232710919" },
            { "name": "parse_mode", "value": "Markdown" },
            { "name": "text", "value": "={{ $json.text }}" }
          ]
        }
      }
    },
    {
      "id": "health-if-alert",
      "name": "IF alert needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 480],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "alert", "leftValue": "={{ $json.alertNeeded }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }], "combinator": "and"
        }
      }
    },
    {
      "id": "health-alert-msg",
      "name": "Send alert to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 560],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8187477791:AAHnYiq_zz5JCEnQeruW5Xt92ehl8xr2lbQ/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "8232710919" },
            { "name": "parse_mode", "value": "Markdown" },
            { "name": "text", "value": "={{ '*KLIPORA ALERT* Queue backlog. script_queue: ' + $json.script_len + ' render_queue: ' + $json.render_len }}" }
          ]
        }
      }
    }
  ],
  "connections": {
    "Every 1 min": { "main": [[{ "node": "Fetch queues and format status", "type": "main", "index": 0 }]] },
    "Fetch queues and format status": {
      "main": [
        [{ "node": "Send status to Telegram", "type": "main", "index": 0 }],
        [{ "node": "IF alert needed", "type": "main", "index": 0 }]
      ]
    },
    "IF alert needed": { "main": [[{ "node": "Send alert to Telegram", "type": "main", "index": 0 }], []] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "klipora" }]
}